extends ../layout

block content
    a(href='/vehiculos') Regresar

    br
    br
    br

    h1 Nuevo Vehiculo

    br

    br

    form(action='/vehiculos/create' method='post')
        label(for='id') Id:
        input#id(type='text' name='id')
        br

        label(for='color') Color:
        input#id(type='text' name='color')
        br

        label(for='marca') Marca:
        input#id(type='text' name='marca')
        br

        label(for='modelo') Modelo:
        input#id(type='text' name='modelo')
        br
        br

        input.btn(type='submit' value='OK')

        





